<!DOCTYPE html>
{% load static %}
{% load tz %}
{% load widget_tweaks %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Invoice</title>
		<link rel="stylesheet" href="{% static "css/invoice.css" %}">
	</head>
	<body>
		<aside>
		<header>
			<h1 contenteditable>Invoice</h1>
			<address contenteditable>
				<p>UNITED BUILDING MATERIALS</p>
				<p>Haja Mohideen A</p>
				<p>1/112 A, Balamore Road,</p>
				<p>Thittuvilai, Boothapandi P.O</p>
				<p>9442241852, 9787941852</p>
				<p>GSTIN : </p>
			</address>
			<img src="{% static 'img/bb.jpg' %}" height="120px" class="img-fluid">
		</header>
		<h6></h6>
		</aside>
		<article>
			<h1>Recipient</h1>
			<address contenteditable>
				<p>Some Company<br>c/o Some Guy</p>
			</address>
			<table class="meta">
				<tr>
					<th><span contenteditable>Invoice #</span></th>
					<td><span contenteditable>101138</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Date</span></th>
					<td><span contenteditable><span id="datetime"></span><script>var dt = new Date();
					document.getElementById("datetime").innerHTML=dt.toLocaleDateString();</script></span></td>
				</tr>
			</table>
			<table class="inventory  css-serial">
				<thead>
					<tr>
						<th width='40px'>S. No</th>
						<th width='300px'><span contenteditable>Product Name</span></th>
						<th><span contenteditable>Quantity</span></th>
						<th><span contenteditable>Rate</span></th>
						<th><span contenteditable>Discount</span></th>
						<th><span contenteditable>Price</span></th>
					</tr>
				</thead>
				<tbody>
					{% for form in invoicegenlist  %}
						<tr>
							<td><span contenteditable></span></td>
							<td><span contenteditable>{{form.stock}}</span></td>
							<td><span contenteditable>{{form.qty}}</span></td>
							<td><span contenteditable>{{form.sold_price}}</span></td>
							<td><span contenteditable>{{form.discount}}%</span></td>
							<td><span contenteditable>{{form.price}}</span></td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
			<table class="balance">
				<tr>
					<th><span contenteditable>Sub-total</span></th>
					<td><span>{{invoicegengrandtotal.total|floatformat:2}}</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Discount/round-off</span></th>
					<td><span contenteditable>0.00</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Grand-Total</span></th>
					<td><span>{{invoicegengrandtotal.total|floatformat:2}}</span></td>
				</tr>
			</table>
		</article>
		<aside>
			<h1><span contenteditable>Additional Notes</span></h1>
			<div contenteditable>
				<p>Note IF ANY</p>
			</div>
		</aside>
	</body>
</html>
