{% extends "stocks_base_temp.html" %}
{% load widget_tweaks %}
{% block content %}
<section class="py-5">
  <div class="col-lg-13 mb-5">
    <div class="card">
      <div class="card-header">
        <h3 class="h6 text-uppercase mb-2">Stock-In</h3>
        <h8 class=" text-muted mb-0">*Leave the "New Landing Cost" as 0 if you don't want to change the Landing cost*</h8>
      </div>
      <div class="card-body">
        <form method="POST" class="form-inline">
            {% csrf_token %}
            <table class="table table-hover card-text table-fixed">
              <thead>
                <tr>
                  <th>Date of Purchase</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>New Landing Cost</th>
                </tr>
              </thead>
              {% for form in formset %}
              <tbody>
                <tr>
                  <td>{{ form.purchased_date|add_class:'mr-0 form-control form-control-sm' }}</td>
                  <td>{{ form.stock|add_class:'mr-0 form-control form-control-sm' }}</td>
                  <td>{{ form.num_of_items|add_class:'mr-0 form-control form-control-sm' }}</td>
                  <td>{{ form.updated_landing_cost|add_class:'mr-0 form-control form-control-sm' }}</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
            {{ formset.management_form }}
            <input type="submit" class='btn btn-primary' value="Submit">
          </form>
          <br>

    </div>
  </div>
</section>
{% endblock %}
