{% extends "stocks_base_temp.html" %}
{% block activeclass6 %}active{% endblock %}
{% block content %}
    <section class="py-5">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <div class="card">
            <div class="card-header">
              <h6 class="text-uppercase mb-0">Today's Sales Register</h6>
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover card-text table-fixed css-serial">
                <thead>
                  <tr>
                    <th>S. No</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Landing Cost</th>
                    <th>Sold Price</th>
                    <th>Profit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in salestoday_list %}
                  <tr>
                    <td></td>
                    <td><a href="{% url 'tstock:productdetail' pk=item.stock_name.pk %}" class="text-muted">{{ item.stock_name }}</a></td>
                    <td>{{ item.num_of_items }}</td>
                    <td>{% if item.slanding_cost == 0 %} {{ item.stock_name.landing_cost|floatformat:2 }} {% else %}  {{ item.slanding_cost|floatformat:2 }} {% endif %}</td>
                    <td>{{ item.sold_price|floatformat:2 }}</td>
                    <td>{{ item.item_profit }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-header">
              <h6 class="text-uppercase mb-0">Today's Purchases Register</h6>
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover card-text table-fixed css-serial">
                <thead>
                  <tr>
                    <th>S. No</th>
                    <th>Bill No</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Landing Cost</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in purchasetoday_list %}
                  <tr>
                    <td></td>
                    <td>{{ item.bill_num }}</td>
                    <td><a href="{% url 'tstock:productdetail' pk=item.stock.pk %}" class="text-muted">{{ item.stock }}</a></td>
                    <td>{{ item.num_of_items }}</td>
                    <td>{{ item.updated_landing_cost|floatformat:2 }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 mb-4 mb-xl-0">
          <div class="bg-white shadow roundy p-4 h-30 d-flex align-items-center justify-content-between">
            <div class="flex-grow-1 d-flex align-items-center">
              <div class="dot mr-3 bg-grey"></div>
              <div class="text">
                <h6 class="mb-0">Total Sales</h6><span class="text-gray"><i class="fa fa-inr"></i> {{salestoday_totalsales.totalsales|floatformat:2}}</span>
              </div>
            </div>
            <div class="icon text-white bg-grey"><i class="fas fa-inr"></i></div>
          </div>
          <br>
          <div class="bg-white shadow roundy p-4 h-30 d-flex align-items-center justify-content-between">
            <div class="flex-grow-1 d-flex align-items-center">
              <div class="dot mr-3 bg-grey"></div>
              <div class="text">
                <h6 class="mb-0">Profit</h6><span class="text-gray"><i class="fa fa-inr"></i> {{salestoday_totalsales.profit|floatformat:2}}</span>
              </div>
            </div>
            <div class="icon text-white bg-grey"><i class="fas fa-inr"></i></div>
          </div>
          <br>
          <div class="bg-white shadow roundy p-4 h-30 d-flex align-items-center justify-content-between">
            <div class="flex-grow-1 d-flex align-items-center">
              <div class="dot mr-3 bg-grey"></div>
              <div class="text">
                <h6 class="mb-0">Total Units Sold</h6><span class="text-gray"> {{salestoday_totalsales.totalunits}}</span>
              </div>
            </div>
            <div class="icon text-white bg-grey"><i class="fas fa-info"></i></div>
          </div>
          <br>
          <div class="card">
            <div class="card-header">
              <h6 class="text-uppercase mb-0">Most Sold Products</h6>
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover card-text table-fixed">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in salesmosttoday_list %}
                  <tr>
                    <td><a href="{% url 'tstock:productdetail' pk=item.stock_name.pk %}" class="text-muted">{{ item.stock_name }}</a></td>
                    <td>{{ item.num_of_items }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
