{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero">
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h1 class="hero-heading mb-0">Stay <br> tuned!</h1>
      <div class="row">
        <div class="col-lg-10">
          <p class="lead text-muted mt-4 mb-4">We are still tweeking a few details, stay tuned!</p>
        </div>
      </div>
      <p class="lead text-muted mt-8 mb-4">Till then, check out our BMS APP <a href="{% url 'tstock:index' %}" class="btn btn-outline-primary navbar-btn ml-0 ml-lg-3"> <i class="fas fa-sign-out-alt mr-2"></i>ubm-BMS </a></p>
    </div>
    <div class="col-lg-6"><img src="{% static 'index/img/paint.jpg' %}" style="width:400px;height:490px;margin-left:140px;" alt="..." class="hero-image img-fluid d-none d-lg-block"></div>
  </div>
</div>
</section>
{% endblock %}
